/*ESTILOS CSS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

:root {
  --colorTexto: #35353588;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #ffafbd;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #ffafbd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #ffafbd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
h1 {
  text-align: center;
  font-weight: 700;
}
form {
  width: 500px;
  background-color: white;
  padding: 40px 0;
  box-shadow: 0 0 3px 0;
  border-radius: 10px;
}

.form {
  width: 100%;
  margin: auto;
}
form .grupo {
  width: 400px;
  position: relative;
  margin: 30px auto 20px auto;
}

input {
  background: none;
  color: #c6c6c6;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTexto);
}

input:focus {
  outline: none;
  color: rgb(65, 65, 65);
}

label {
  color: var(--colorTexto);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

input:focus ~ label,
input:valid ~ label {
  top: -14px;
  font-size: 16px;
  color: #442100;
  font-weight: bold;
}
.barra {
  position: relative;
  display: block;
  width: 100%;
}
.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #ffc3a0, #ffafbd);
  transition: 0.3s ease width;
  left: 0;
}
input:focus ~ .barra::before {
  width: 100%;
}
.warning {
  width: 200px;
  text-align: center;
  margin: auto;
  color: #b06ab3;
  padding: 20px 0;
}
button {
  background: #ffafbd;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc3a0, #ffafbd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffc3a0, #ffafbd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: black;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

@media screen and (max-width: 500px) {
  .form {
    width: 80%;
  }
}
